<!-- Row -->
<div class="row">
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="ant-card-body">
        <div class="media align-items-center ">
          <nz-avatar
            class="ant-avatar-blue"
            nzIcon="dollar"
            style="width: 60px; height: 60px; line-height: 60px; font-size: calc(30px);"
          >
          </nz-avatar>
          <div class="m-l-15">
            <h2 class="m-b-0">$23,523</h2>
            <p class="m-b-0 text-muted">Profit</p>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="ant-card-body">
        <div class="media align-items-center ">
          <nz-avatar
            class="ant-avatar-cyan"
            nzIcon="line-chart"
            style="width: 50px; height: 50px; line-height: 50px; font-size: calc(25px);"
          >
          </nz-avatar>
          <div class="m-l-15">
            <h2 class="m-b-0">+ 17.21%</h2>
            <p class="m-b-0 text-muted">Growth</p>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="ant-card-body">
        <div class="media align-items-center ">
          <nz-avatar
            class="ant-avatar-gold"
            nzIcon="profile"
            style="width: 50px; height: 50px; line-height: 50px; font-size: calc(25px);"
          >
          </nz-avatar>
          <div class="m-l-15">
            <h2 class="m-b-0">3,685</h2>
            <p class="m-b-0 text-muted">Orders</p>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="ant-card-body">
        <div class="media align-items-center ">
          <nz-avatar
            class="ant-avatar-purple"
            nzIcon="user"
            style="width: 50px; height: 50px; line-height: 50px; font-size: calc(25px);"
          >
          </nz-avatar>
          <div class="m-l-15">
            <h2 class="m-b-0">1,832</h2>
            <p class="m-b-0 text-muted">Customers</p>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</div>
<!-- Row -->
