<div class="row align-items-center">
  <div class="col-md-5">
    <nz-card>
      <h2 class="m-t-20 ">Sign In</h2>
      <p class="m-b-30 ">Enter your credential to get access</p>
      <form class="login-form" nz-form>
        <nz-form-item>
          <nz-form-label nzFor="userName" nzRequired>
            Username
          </nz-form-label>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixUsername">
              <input type="text" nz-input placeholder="Enter your username" />
            </nz-input-group>
            <ng-template #prefixUsername><i nz-icon nzType="user"></i></ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="password" nzRequired>
            Password
          </nz-form-label>
          <a class="float-right font-size-13 p-t-10 text-muted" href="#/authentication/reset-password-1"
            >Forget Password?</a
          >
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixPassword">
              <input type="text" nz-input placeholder="Enter your username" />
            </nz-input-group>
            <ng-template #prefixPassword><i nz-icon nzType="lock"></i></ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <div class="d-flex align-items-center justify-content-between">
              <span class="font-size-13 text-muted">
                Don't have an account?
                <a class="small" href="#/authentication/sign-up-2"> Signup</a>
              </span>
              <button class="login-form-button" [nzType]="'primary'" nz-button>
                Sign In
              </button>
            </div>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
  <div class="offset-md-1 col-md-6 d-none d-md-block">
    <img alt="" class="img-fluid" src="./assets/images/others/login-2.png" />
  </div>
</div>
