.border-collapse {
  border-right: 1px solid #edf2f9;
}
.alain-default__aside-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 24px 0;
  cursor: pointer;
}
.alain-default__aside-user-avatar {
  margin-right: 8px;
}
.alain-default__aside-user-info {
  flex: 1;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.65);
  white-space: nowrap;
  text-overflow: ellipsis;
}
