<ng-template #header>
  <nz-breadcrumb>
    <nz-breadcrumb-item>{{'admin.layout.ADMIN' | translate}}</nz-breadcrumb-item>
    <nz-breadcrumb-item>{{'admin.layout.ROLES' | translate}}</nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<app-page [header]="header" [title]="'admin.layout.ROLE_MANAGERMENT' | translate">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXs]="24" [style.marginBottom.px]="24">
      <nz-card [style.marginBottom.px]="24">
        <div nz-row>
          <nz-table
            #roleTable
            nzShowPagination
            nzShowSizeChanger
            [nzData]="listOfAllData"
            [nzPageSize]="pagging.pageSize"
            [nzTotal]="pagging.total"
            [nzFrontPagination]="false"
            (nzPageIndexChange)="pageIndexChange($event)"
            (nzPageSizeChange)="pageSizeChange($event)"
            [nzBordered]="true"
            [nzTitle]="titleTemplate">
            <thead (nzSortChange)="sort($event)" nzSingleSort>
              <tr>
                <th>{{ 'admin.layout.TABLE_NO' | translate }}</th>
                <th
                  nzShowCheckbox
                  [(nzChecked)]="isAllDisplayDataChecked"
                  (nzCheckedChange)="checkAll($event)"
                  [nzIndeterminate]="isIndeterminate">
                </th>
                <ng-container *ngFor="let column of columns">
                  <th
                    nzCustomFilter
                    *ngIf="!column.hidden"
                    [nzShowSort]="column.sortable"
                    [nzSortKey]="column.id"
                    [nzShowFilter]="column.filter"
                    [nzFilters]="column.filter ? column.filter : []"
                    (nzFilterChange)="filter($event, column.id)">
                      {{ column.header | translate }}
                    <i
                      *ngIf="column.search"
                      class="ant-table-filter-icon"
                      nz-icon
                      nz-dropdown
                      #dropdown="nzDropdown"
                      nzType="search"
                      [nzDropdownMenu]="menuSearch"
                      [class.ant-table-filter-open]="dropdown.nzVisible"
                      nzTrigger="click"
                      nzPlacement="bottomRight"
                      [nzClickHide]="false"
                      nzTableFilter
                      (click)="searchKey = column.id">
                    </i>
                  </th>
                </ng-container>
                <th [nzAlign]="'center'">{{ 'admin.layout.ACTION' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of roleTable.data; let i = index">
                <td>{{ i + 1 }}</td>
                <td
                  nzShowCheckbox
                  [(nzChecked)]="mapOfCheckedId[data.id]"
                  [nzDisabled]="data.disabled"
                  (nzCheckedChange)="checkItem(data.id, $event)">
                </td>
                <ng-container *ngFor="let column of columns">
                  <td *ngIf="!column.hidden">
                    <ng-container [ngSwitch]="column.type">
                      <ng-container *ngSwitchCase="'text'">
                        <p
                          *ngIf="data[column.id].length > 12"
                          [nzTooltipTitle]="data[column.id]"
                          nzTooltipPlacement="top"
                          nz-tooltip>
                          {{ data[column.id] | summary }}
                        </p>
                        <p *ngIf="data[column.id].length <= 12">
                          {{ data[column.id] }}
                        </p>
                      </ng-container>
                      <ng-container *ngSwitchCase="'date'">
                        <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
                        {{ data[column.id] | date: 'yyyy-MM-dd hh:mm' }}
                      </ng-container>
                      <ng-container *ngSwitchCase="'select'">
                        <nz-select (ngModelChange)="onChangeRoleAcp(data.id)" [(ngModel)]="data.roleAcp">
                          <ng-container>
                            <nz-option [nzValue]="true" [nzLabel]="'YES'"></nz-option>
                            <nz-option [nzValue]="false" [nzLabel]="'NO'"></nz-option>
                          </ng-container>
                        </nz-select>
                      </ng-container>
                      <ng-container *ngSwitchCase="'checkbox'">
                        <label (ngModelChange)="onUpdateDefaultSignUp(data)" nz-checkbox [(ngModel)]="data[column.id]"></label>
                      </ng-container>
                    </ng-container>
                  </td>
                </ng-container>
                <td [nzAlign]="'center'">
                  <a
                    [nzTrigger]="'click'"
                    [nzDropdownMenu]="menuAction"
                    [nzPlacement]="'bottomCenter'"
                    nz-dropdown>
                    <i
                      nz-icon
                      nzType="ellipsis"
                      nzTheme="outline"
                      class="icon-action">
                    </i>
                  </a>
                  <nz-dropdown-menu #menuAction="nzDropdownMenu">
                    <ul class="dropdown-action" nz-menu nzSelectable>
                      <li (click)="openForm(data)" nz-menu-item>
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                        {{ 'admin.layout.EDIT' | translate }}
                      </li>
                      <li (click)="showDeleteConfirm(data.id)" nz-menu-item>
                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                        {{ 'admin.layout.DELETE' | translate }}
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-card>
    </div>
  </div>
</app-page>
<!-- Box Search -->
<nz-dropdown-menu #menuSearch="nzDropdownMenu">
  <div class="search-box">
    <input type="text" nz-input [placeholder]="'admin.layout.SEARCH' | translate" [(ngModel)]="searchValue"/>
    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
      {{ 'admin.layout.SEARCH' | translate }}
    </button>
    <button nz-button nzSize="small" (click)="reset()">
      {{ 'admin.layout.RESET' | translate }}
    </button>
  </div>
</nz-dropdown-menu>
<!-- End Box Search -->

<!-- Title Table -->
<ng-template #titleTemplate>
  <app-title-table
    [numberOfChecked]="numberOfChecked"
    [results]="pagging.total"
    [columns]="columns"
    (export)="onExport($event)"
    (openForm)="openForm($event)">
    <ul #action class="ant-dropdown-menu ant-dropdown-menu-root ant-dropdown-menu-light ant-dropdown-menu-vertical">
      <li class="ant-dropdown-menu-item" (click)="showDeleteConfirm()">
        {{ 'admin.layout.DELETE_CHECK_ROLES' | translate }}
      </li>
    </ul>
  </app-title-table>
</ng-template>
<!-- End Title Table -->

<!-- Form -->
<nz-drawer
  [nzBodyStyle]="{height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px'}"
  [nzMaskClosable]="false"
  [nzVisible]="visible"
  [nzTitle]="(editing ? 'admin.layout.EDIT_ROLE' : 'admin.layout.CREATE_NEW_ROLE') | translate"
  (nzOnClose)="closeForm()">
  <form #formDirective="ngForm" [formGroup]="form" nz-form>
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>{{ 'admin.layout.NAME' | translate }}</nz-form-label>
          <nz-form-control [ngClass]="{ 'has-error': isFieldValid(form, 'name') }">
            <input
              formControlName="name"
              [(ngModel)]="selectedEdit.name"
              nz-input
              [placeholder]="'admin.layout.ENTER_NAME' | translate"/>
          </nz-form-control>
          <field-error-display [displayError]="isFieldValid(form, 'name')" [errors]="f.name.errors"></field-error-display>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="footer">
    <button nz-button nzType="default" (click)="closeForm()" class="mr-8">
      <span>{{ 'admin.layout.CANCEL' | translate }}</span>
    </button>
    <button nz-button nzType="primary" (click)="onAddRole(form, formDirective)">
      <span>{{ 'admin.layout.SUBMIT' | translate }}</span>
    </button>
  </div>
</nz-drawer>
<!-- End Form -->
