.spin {
  text-align: center;
  padding: 30px 50px;
  background-color: #f8fdff;
}
.search-box {
  padding: 8px;
  input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
  }
  button {
    width: 90px;
  }
}
